<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-horizontal">
    <%= f.input :sandwich_id, :collection => @sandwiches, :label_method => :kind %>
    <%= f.input :tomato %>
    <%= f.input :lettuce %>
    <%= f.input :mayo %>
    <%= f.input :mustard %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
